:root {
    --dark1: #111;
    --dark1x: #121212;
    --dark2: #222;
    --dark2x: #2a2a2a;
    --dark3: #333;
    --dark4: #444;
    --dark5: #555;
    --light1: #fff;
    --light2: #eee;
    --light3: #ddd;
    --light4: #ccc;
    --light5: #bbb;
    --red1: #f00;
    --red1x: #a00;
    --red2: #5c0000;
    --red3: #161111;
    --green1: #0f0;
}
* {
    margin: 0;
    padding: 0;
}

#main {
    background-image: linear-gradient(to top, var(--red2) , var(--red3));
    min-height: 100vh;
    z-index: -2;
}

.background {
    background-color: transparent;
    background-size: cover;
    padding: 0.5rem;
    height: calc(100vh - 1rem);
    z-index: -1;
}

.container {
    display: flex;
    align-items: flex-start;
    padding: 0.5em;
    height: calc(100% - 1em);
    background-color: var(--dark2);
    border-radius: 0.6em;
}

/*          SIDE PANEL           */
.side-panel {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 18em;
    height: 100%;
}
.side-panel-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4em;
    background-color: var(--dark1x);
    border-radius: 0.8em;
}
.side-panel-header > h1 {
    font-family: Fredoka;
    font-weight: 600;
    font-size: 2.4em;
}
.side-panel-header > #sph1 {
    color: var(--red1);
}
.side-panel-header > #sph2 {
    color: var(--light1);
}

.side-panel-body {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin: 2em 1em 2em 1em;
    width: calc(100% - 2em);
    height: calc(100% - 4em);
}
.side-panel-element {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 4em;
    text-decoration: none;
    border-radius: 0.5em;
    background-color: var(--dark3);
}
.side-panel-element:hover {
    background-color: var(--dark2x);
}
.side-panel-body > .les-tue-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
#spe-button {
    position: relative;
    width: 18em;
}
#spe-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    background-color: var(--dark4);
    border-radius: 0.5em;
}
#spe-icon > img {
    filter: brightness(0.8);
    width: 2.6em;
    height: 2.6em;
}
#spe-text {
    margin-left: 1em;
    width: 9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: var(--light2);
}
.element-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.ec-title {
    margin-left: 0.2em;
    margin-bottom: 0.4em;
    font-family: Fredoka;
    font-weight: 600;
    font-size: 1.4em;
    color: var(--light1);
}
#selected {
    box-shadow: 0px 2px 2px 0px var(--red1);
}
#selected > #spe-text {
    font-weight: 520;
    color: var(--light1);
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--dark5);
    border-radius: 0.2em;
}
::-webkit-scrollbar-thumb {
    background: var(--red2);
    border-radius: 0.2em;
}


/*          CONTENT PANEL        */
.content-panel {
    width: calc(100% - 16em);
    height: 100%;
}
.content-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
}
.content-panel-header > .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 4em;
    width: 24em;
    height: 3em;
    border-radius: 0.6em;
    background-color: var(--dark3);
}
.content-panel-header > .search-box > .icon {
    filter: brightness(0.5);
    margin-left: 0.3em;
    width: 2.4em;
    height: 2.4em;
}
.content-panel-header > .search-box > .text-box {
    width: calc(100% - 4em);
    height: 2.4em;
    background-color: transparent;
}
.content-panel-header > .search-box > .text-box > #search {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--dark3);
    color: var(--light1);
}
.content-panel-header > .status {
    margin-right: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    width: 7em;
    height: 3em;
}
.content-panel-header > .status > .notifications {
    filter: brightness(0.5);
    width: 1.6em;
    height: 1.6em;
    cursor: pointer;
}
.content-panel-header > .status > .profile {
    filter: brightness(0.5);
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
}

.content-panel-body {
    margin: 2em 1em 2em 1em;
    display: flex;
    flex-direction: column;
    width: calc(100% - 4em);
    max-height: calc(100% - 8em);
    background-color: var(--dark2x);
}
.content-panel-body > .cpb-title {
    margin: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    font-family: Fredoka;
    color: var(--light2);
    background-color: var(--dark1);
}
.content-panel-body > #lesson-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em 1em 1em 1em;
    width: calc(100% - 2em);
    height: 100%;
    overflow-y: scroll;
}
.content-panel-body > #tute-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em 1em 1em 1em;
    width: calc(100% - 2em);
    height: 100%;
    overflow-y: scroll;
}
.lesson-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    padding: 1em;
    width: 28em;
    height: 16em;
    border-radius: 1em;
    background-color: var(--dark3);
    box-shadow: 0px 0px 10px 10px var(--dark2);
}
.lesson-card > #lesson-title {
    text-align: center;
    font-family: Fredoka;
    font-size: 2.5em;
    color: var(--light1);
}
.lesson-card > .lct-underline {
    margin: 0.5em 0em 0.5em 0em;
    width: 90%;
    height: 0.2em;
    background-color: var(--red1);
}
.lesson-card > #lesson-details {
    margin: 1em;
    text-align: center;
    font-family: Fredoka;
    font-size: 1em;
    color: var(--light3);
}
.lesson-card > #lc-button {
    padding: 1em 2em 1em 2em;
    margin: 1em;
    font-family: Fredoka;
    font-weight: 550;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5em;
    color: var(--light1);
    background-color: var(--red1);
}
.tute-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    padding: 1em;
    width: 28em;
    height: 16em;
    border-radius: 1em;
    background-color: var(--dark3);
    box-shadow: 0px 0px 10px 10px var(--dark2);
}
.tute-card > #tute-title {
    text-align: center;
    font-family: Fredoka;
    font-size: 2.5em;
    color: var(--light1);
}
.tute-card > .tct-underline {
    margin: 0.5em 0em 0.5em 0em;
    width: 90%;
    height: 0.2em;
    background-color: var(--red1);
}
.tute-card > #tute-details {
    margin: 1em;
    text-align: center;
    font-family: Fredoka;
    font-size: 1em;
    color: var(--light3);
}
.tute-card > #tute-status-text {
    text-align: center;
    font-style: italic;
    font-family: Fredoka;
    font-size: 1em;
    color: var(--green1);
}
.tute-card > #tc-ro-button {
    padding: 1em 2em 1em 2em;
    margin: 0.5em;
    font-family: Fredoka;
    font-weight: 550;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5em;
    color: var(--light1);
    background-color: var(--red1x);
}
.tute-card > #tc-o-button {
    padding: 1em 2em 1em 2em;
    margin: 0.5em;
    font-family: Fredoka;
    font-weight: 550;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5em;
    color: var(--light1);
    background-color: var(--red1);
}